In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


import statsmodels.formula.api as smf

In [5]:
df=pd.read_csv('diamonds.csv')
print(df.head(5))

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

In [6]:
#Corroboramos valores nulos
valores_nulos=df.isnull().sum()
valores_nulos

carat      3
cut        0
color      0
clarity    0
depth      2
table      3
price      3
x          1
y          1
z          4
dtype: int64

In [7]:
#Reemplazamos valores nulos del dataframe con "bfill"
data1 =df.fillna(method="bfill") 
data1

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   62.2   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [8]:
#Corroboramos valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [ ]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=data1
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

In [11]:
#Encontramos Ouliers del Dataframe
outliers= data1[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

/var/folders/32/dx9n7xv16_n1lslpx2t97vcm0000gn/T/ipykernel_87601/1331139327.py:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers= data1[(y>Limite_Superior)|(y<Limite_Inferior)]

       carat  cut color clarity  depth  table  price   x   y   z
0        NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
1        NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
2        NaN  NaN   NaN     NaN   56.9   65.0    NaN NaN NaN NaN
3        NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
4        NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
...      ...  ...   ...     ...    ...    ...    ...  ..  ..  ..
53935    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
53936    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
53937    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
53938    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
53939    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN

[53940 rows x 10 columns]

In [12]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data_clean=data1.copy()
data_clean=data_clean.fillna(round(data1.mean(),1))
data_clean

/var/folders/32/dx9n7xv16_n1lslpx2t97vcm0000gn/T/ipykernel_87601/2070593417.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_clean=data_clean.fillna(round(data1.mean(),1))

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   62.2   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [14]:
data_clean

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   62.2   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [24]:

Vars_Indep= data_clean[['carat']]
Var_Dep= data_clean['price']

In [25]:
#Se define model como la función de regresión lineal
from sklearn.linear_model import LinearRegression
model= LinearRegression()

In [26]:
type(model)
model.fit(X=Vars_Indep, y=Var_Dep)

LinearRegression()

In [27]:
model.score(X=Vars_Indep, y=Var_Dep)
#correlación entre carat y precio es de 0.85

0.8493238112990737

In [29]:
Vars_Indep= data_clean[['depth']]
Var_Dep= data_clean['price']

model= LinearRegression()

type(model)
model.fit(X=Vars_Indep, y=Var_Dep)

model.score(X=Vars_Indep, y=Var_Dep)

##correlación entre depth y precio es de 0.00011

0.00011351483785149163

In [30]:
Vars_Indep= data_clean[['table']]
Var_Dep= data_clean['price']

model= LinearRegression()

type(model)
model.fit(X=Vars_Indep, y=Var_Dep)

model.score(X=Vars_Indep, y=Var_Dep)

##correlación entre table y precio es de 0.016

0.016163451413260588

In [33]:
model=smf.ols(formula="price~carat +depth", data=data_clean).fit()
model.params

Intercept    4046.601278
carat        7765.137086
depth        -102.186039
dtype: float64

In [ ]:
Form= 4046.601278 + 7765.137086*data_clean["carat"] + -102.186039 *data_clean["depth"]
data_clean.insert(loc=0, column='Predicciones', value=Form)
data_clean

In [ ]:
model.summary()

In [36]:
coef_Correl= np.sqrt(0.851)
coef_Correl

0.9224966124599049

In [ ]:
model1=smf.ols(formula="price~carat +table", data=data_clean).fit()
model1.params

In [ ]:
Form= 1962.853800 + 7820.048915*data_clean["carat"] + -74.315956 *data_clean["table"]
data_clean.insert(loc=0, column='Predicciones1.', value=Form)
data_clean

In [ ]:
model1.summary()

In [46]:
coef_Correl= np.sqrt(0.851)
coef_Correl

0.9224966124599049

In [47]:
model=smf.ols(formula="price~depth +table", data=data_clean).fit()
model.params

Intercept   -15082.879110
depth           82.229775
table          242.580487
dtype: float64

In [ ]:
Form= -15082.879110 + 82.229775*data_clean["depth"] + 242.580487 *data_clean["table"]
data_clean.insert(loc=0, column='Predicciones2', value=Form)
data_clean

In [67]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.859
Model:                            OLS   Adj. R-squared:                  0.859
Method:                 Least Squares   F-statistic:                 5.486e+04
Date:                Mon, 19 Sep 2022   Prob (F-statistic):               0.00
Time:                        18:22:17   Log-Likelihood:            -4.7090e+05
No. Observations:               53940   AIC:                         9.418e+05
Df Residuals:                   53933   BIC:                         9.419e+05
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.085e+04    447.549     46.581      0.000       2e+04    2.17e+04
x          -1315.2967     43.071    -30.538      0.000   -1399.715   -1230.878
y             66.3792     25.523      2.601      0.009      16.355     116.404
z             41.7900     44.306      0.943      0.346     -45.049     128.629
carat       1.069e+04     63.200    169.068      0.000    1.06e+04    1.08e+04
depth       -203.1525      5.504    -36.910      0.000    -213.940    -192.365
table       -102.4483      3.084    -33.216      0.000    -108.494     -96.403
==============================================================================
Omnibus:                    14092.256   Durbin-Watson:                   1.249
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           373314.711
Skew:                           0.674   Prob(JB):                         0.00
Kurtosis:                      15.817   Cond. No.                     5.91e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.91e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [50]:
coef_Correl= np.sqrt(0.017)
coef_Correl

0.130384048104053

In [51]:
model=smf.ols(formula="price~x +y +z", data=data_clean).fit()
model.params

Intercept   -14113.053835
x             2790.398431
y              218.664666
z              225.982856
dtype: float64

In [ ]:
Form= -14113.053835 + 2790.398431*data_clean["x"] + 218.664666 *data_clean["y"] + 225.982856 *data_clean["z"]
data_clean.insert(loc=0, column='Predicciones3', value=Form)
data_clean

In [ ]:
model.summary()

In [54]:
coef_Correl= np.sqrt(0.783)
coef_Correl

0.8848728722251575

In [55]:
model=smf.ols(formula="price~x +y +z +carat +depth", data=data_clean).fit()
model.params

Intercept    12195.414635
x            -1369.336100
y               97.586875
z               64.358148
carat        10614.511143
depth         -156.630684
dtype: float64

In [ ]:
Form= 12195.414635 + -1369.336100*data_clean["x"] + 97.586875 *data_clean["y"] + 64.358148 *data_clean["z"] + 10614.511143 *data_clean["carat"] -156.630684 *data_clean["depth"]
data_clean.insert(loc=0, column='Predicciones4', value=Form)
data_clean

In [ ]:
model.summary()

In [58]:
coef_Correl= np.sqrt(0.856)
coef_Correl

0.9252026804976302

In [59]:
model=smf.ols(formula="price~x +y +z +carat +depth +table", data=data_clean).fit()
model.params

Intercept    20847.314314
x            -1315.296678
y               66.379164
z               41.790048
carat        10685.092821
depth         -203.152505
table         -102.448266
dtype: float64

In [ ]:
Form= 20847.314314 + -1315.296678*data_clean["x"] + 66.379164 *data_clean["y"] + 41.790048*data_clean["z"] + 10685.092821*data_clean["carat"] -203.152505 *data_clean["depth"] -102.448266 *data_clean["depth"]
data_clean.insert(loc=0, column='Predicciones5', value=Form)
data_clean

In [ ]:
model.summary()

In [62]:
coef_Correl= np.sqrt(0.859)
coef_Correl

0.9268225288586807

In [ ]:
from turtle import color


sns.scatterplot(x='carat', y='price', color="blue", data=data_clean)

In [ ]:
sns.scatterplot(x='depth', y='price', color="red", data=data_clean)

In [ ]:
sns.scatterplot(x='table', y='price', color="orange", data=data_clean)

In [ ]:
#tabla comparativa
# carat y price: 0.85
# depth y price: 0.00
# table y price: 0.02
# carat, depth y price: 0.92
# carat, table y price: 0.92
# depth, table y price: 0.13
# x,y,z y price: 0.88
# x,y,z, carat , depth y price: 0.93
# x,y,z, carat, depth, table y price: 0.93

#la variable que mayor relación tiene con el precio es de 0.93 y son las variables x,y,z, carat , depth y table con price. sabemos que es la que mayor relación tiene ya que es el número que mayor correlación presenta.